.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

html {
  scroll-behavior: smooth;
  transition-duration: 2s;
}

body {
  font-family: 'Courier New', monospace;
  font-size: 16px;
  color: #6E6E6E;
  line-height: 1.5;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}


nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #A4A4A4;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
  font-size: 25px;
}

nav a:hover {
  color: #666;
  border-color: #666;
}

main {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px 20px;
}

section {
  margin-bottom: 40px;
}

h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
  font-size: 18px;
  color: #666;
}

a {
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid #333;
  transition: all 0.3s ease;
}

a:hover {
  color: #666;
  border-color: #666;
}



#skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#skills ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#skills li {
  margin: 20px;
}

#skills img {
  width: 100px;
  height: 100px;
}

.emailButton img {
  height: 50px;
  margin-right: 10px;
}

.phoneButton img {
  height: 50px;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.logos li {
  flex: 0 0 calc(33.33% - 20px);
  margin: 10px;
  text-align: center;
}

.logos li img {
  width: 100%;
  max-width: 100px;
  height: auto;
}

.project-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.project-card {
  border: 1px solid #000;
  padding: 1rem;
  text-align: center;
}

.project-card img {
  width: 100%;
  height: auto;
}

.project-card h3 {
  margin-top: 1rem;
}

.project-card p {
  margin-top: 0.5rem;
}




footer {
  padding: 20px;
  background-color: #f5f5f5;
  text-align: center;
  font-size: 14px;
  color: #999;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}